@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br>Gen. Luna cor. Muralla St.
    <br>Intramuros, Manila, Metro Manila
    <br>
    <abbr title="Phone">Phone:</abbr>(02) 527 7941
    <br>
    <abbr title="Email">Email:</abbr> <a href="mailto:#">PPD@gmail.com</a>
 
</address>
