@{
    ViewBag.Title = "Home Page";
}

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Philippines Project Dock</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>
                An interactive website that can be accessed through mobile application.<br>
                The development efforts provided by Government and NGO.<br>
                A clear view and communications between organizations; government and non-government.
            </p>
            <p>Projects of NGOs and Government Organizations that are related with poverty, hunger and malnutrition and which can be considered when planning a new project. The application will produce feeds and updates from different organizations concerning their projects.</p>
            <p>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Start Project</strong>
                <br>Gen. Luna cor. Muralla St.
                <br>Intramuros, Manila, Metro Manila
                <br>
            </address>
            <address>
                <abbr title="Phone">Phone:</abbr>(02) 527 7941
                <br>
                <abbr title="Email">Email:</abbr> <a href="mailto:#">PPD@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/Content/Images/BK1.jpg" alt="">
            <h2>Earth Warriors Project</h2>
            <p>To protect our earth, for today, and for a better tomorrow. This activity provides the opportunity for the participants to experience the effort of civil cleaners in helping to maintain the cleanliness of our city and know the importance of keeping our city clean.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/Content/Images/BK2.jpg" alt="">
            <h2>Poverty</h2>
            <p>The best way to help a child overcome poverty and injustice is to help his community become a better place to grow up in. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/Content/Images/BK3.jpg" alt="">
            <h2>Infrastructure and Road Projects</h2>
            <p>The Philippines is significantly underinvesting in physical infrastructure, with its public sector infrastructure budget consistently below 3% of GDP. Spending on social infrastructure for education and health is also inadequate at slightly over 4% of GDP.</p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>